html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

a {
    margin-left: 10px;
    margin-right: 10px;
}

.is-active {
    color: red;
    font-weight: 600;
}